---
// No frontmatter needed for a simple redirect
---

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Redirecting...</title>
    <script>
        window.location.href = "https://live.wabliefteru.be";
    </script>
</head>
<body>
    <p>If you are not redirected automatically, <a href="https://live.wabliefteru.be">click here</a>.</p>
</body>
</html> 